.repository-card {
  background-color: var(--neutral-0);
  border-radius: 15px;
  max-width: 700px;
  height: 500px;
  padding: 1rem;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
  canvas {
    margin-inline: auto;
  }
  [data-title] {
    margin-block: 0.8rem;
    font-weight: 700;
  }
}

.chart-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
