@use "../../sass/abstracts" as *;

.user-card {
  --header-gap: 2.375rem;
  --img-size: 120px;
  padding: 48px;
  background-color: var(--neutral-0);
  -webkit-box-shadow: 0 1px 4px rgba(clr(primary, 400), 0.2);
  -moz-box-shadow: 0 1px 4px rgba(clr(primary, 400), 0.2);
  box-shadow: 0 1px 4px rgba(clr(primary, 400), 0.2);

  [data-header-title] {
    display: flex;
  }
}
.header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  column-gap: var(--header-gap);
  margin-bottom: 1.25rem;
  grid-template-areas:
    "img metadata"
    "img bio";
  [data-img] {
    grid-area: img;
    align-self: flex-start;
    border-radius: 1000px;
    outline: 5px solid black;
  }
  [data-metadata] {
    grid-area: metadata;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  [data-bio] {
    grid-area: bio;
  }
}
.statistics {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-color: var(--neutral-400);
  padding: 15px 32px;
  margin-block: 2rem;
  border-radius: 10px;

  li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    [data-header] {
      font-size: 0.8125rem;
    }
  }
}
.find-me {
  list-style: none;
  display: grid;
  row-gap: 1.25rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  li {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    [data-header] {
      font-size: 0.8125rem;
    }
  }
}

.statistics,
.find-me {
  margin-inline-start: calc((var(--header-gap, 0) + var(--img-size, 0)));
}
.container {
  margin-top: 1.5rem;
  display: grid;
  gap: 1.5rem;
}
