@use "../../sass/abstracts" as *;

.search-bar {
  background-color: var(--neutral-0);
  padding: 23px 34px;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 4px rgba(clr(primary, 400), 0.2);
  -moz-box-shadow: 0 1px 4px rgba(clr(primary, 400), 0.2);
  box-shadow: 0 1px 4px rgba(clr(primary, 400), 0.2);
  display: flex;
  align-items: center;
  gap: 1rem;
  [data-search-input] {
    all: unset;
    flex: 1 1;
    width: 0;
    caret-color: clr(primary, 400);
    font-size: 18px;
  }
}

.search-type {
  display: flex;
  width: fit-content;
  overflow: hidden;
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  border-radius: 32px;
  padding: 8px 12px;
  position: relative;
  flex-shrink: 0;
  &::before {
    transition: transform 0.3s ease-in;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: var(--neutral-800);
    transform: translateX(0%);
  }
  &[data-active="true"]::before {
    transform: translateX(-100%);
  }
}

.icon {
  flex-shrink: 0;
}

.error {
  color: clr(red, 400);
}
