@use "../abstracts" as *;

.btn {
  align-items: center;
  font-weight: 600;
  // font-size: 0.75rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0.5em 1em;
  &[data-type="primary"] {
    color: #000;
    background-color: var(--primary, clr(neutral, 0));

    &:hover,
    &:focus,
    &:active {
      color: #000;
      background-color: var(--primary, clr(neutral, 0));
    }
  }
  &[data-rounded] {
    border-radius: 1000px;
  }
}
